body{
  padding: 30px;
 background-color: #F5AB35;






}


@media only screen and (min-width: 900px) {
    p{
      max-width:220px;
      text-align: center;
      font-size: 60%;

      max-height: 30px;
      font-weight: bold;



    }
    .head{
      font-size: 11px;
      font-weight: normal;;


    }
  }

    @media only screen and (max-width: 899px) {
p{
  display: none;
}
.boxx{
  padding-top: :30px;
    padding-bottom: 30px;
      padding-left: 60px;
        padding-right :60px;
}
}
h1{
  text-align: center;
  color:  white;
 font-family:sans-serif;;
}

.box {

  width: auto ;
  max-height: 200px;
  height: auto;

  font-size: 20px;

  margin: 20px 10px auto;
  background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
  padding: 30px;


}

.box2{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
  flex-flow: row wrap;
  margin-left: auto;;
  margin-right: auto;
}



.boxx{

  width: 84px;
  height: 84px;
  display: block;

    margin-left: auto;
    margin-right: auto



}
