body{
  padding: 30px;
  background-color: orange;
}


@media only screen and (min-width: 700px) {
    p{
      max-width:150px;
      text-align: center;

    }}

    @media only screen and (max-width: 699px) {
p{
  display: none;
}}
h1{
  text-align: center;
  color:  white;
 font-family:sans-serif;;
}

.box {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 20px 10px auto;
  background-color: white;
  padding: 30px;
}



.boxx{

  width: 84px;
  height: 84px;
  display: block;

    margin-left: auto;
    margin-right: auto



}
